# Nosetests gather coverage for all executed code, ignoring source config option in .coveragerc.
# It means, that coveralls will report unnecessary files, which is inconvenient. Here is a workaround
# to specify a list of filename patterns, the files to leave out of reporting.
[report]
omit =
    */python?.?/*
    *.egg/*
    */site-packages/*
    tests/*
