.[oa]
*~
.py[co]
.doit.db
.idea/

build/
dist/
*.egg-info/
*.eggs/
*.local/
__pycache__/
# npm package lock, we don't need it as the 'stylus' dependency is optional
package-lock.json

docs/_build

# Ignore all test-related files (see setup.py -> setup(tests_require=[]))
*coverage*
# but keep the .coveragerc (for TravisCI/Coveralls services)
!.coveragerc
*nose*
*node_modules*
*.mo
*.doctree
docs/locale/.doctrees/*
