.[oa]
*~
.py[co]
.doit.db
.idea/

build/
dist/
*.egg-info/

docs/_build

# Ignore all test-related files (see setup.py -> setup(tests_require=[]))
*coverage*
# but keep the .coveragerc (for TravisCI/Coveralls services)
!.coveragerc
*nose*
*node_modules*